# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.firebase/
firebase-debug.log

# Native build artifacts
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
.kotlin/

# Android build output
android/app/build/
android/.gradle/
android/build/

# iOS
ios/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# IDE
.idea/

# env and secrets
.env
.env~
.env*.local
google-services.json

# typescript
*.tsbuildinfo
